<% if @order and @order.completed_at? %>
	<div style="margin-bottom:4px" data-hook="admin_order_print_buttons">
		<% buttons = Spree::PrintInvoice::Config[:print_buttons].split(',').collect{ |b| b.strip } %>
		<% buttons.each do |button| %>
		  <%= link_to Spree.t(:"#{button}_print", scope: :print_invoice), spree.admin_order_path(@order, template: button, language: I18n.locale.to_s, format: :pdf), class: 'icon-print button', target: '_blank' %>
		<% end %>
		<% if I18n.available_locales && I18n.available_locales.count > 1 %>
			<%= select('print_invoice', 'language',
            I18n.available_locales.collect { |l| [l.upcase, l.to_s] }, { selected: I18n.locale.to_s }, class: 'select2' , style: 'min-width:6em') %>
		<% end %>
	</div>
<% end %>
